body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #444444;
  padding: 54px;
  max-width: 720px;
  margin: 0 auto;
  border-left: 6px solid #e2231a;
}

/* Styles other page elements below */
header {
}
